{% extends "core/base.html" %}


{% block title %} Edit Team - ({{ team.name }}){% endblock %}


{% block content %}
    <div class="py-4 px-10">
        <h1 class="text-xl">Edit Team - ({{ team.name }})</h1>

        <form method="post" action="." class = "mt-5">
            {% csrf_token %}

            {{ form.as_p }}  
            
            <button class="mt-5 py-2 px-6 rounded-lg bg-indigo-500 text-white">Submit</button>
            <a href="{% url "myaccount" %}" class="ml-4 py-2 px-4 rounded-lg bg-green-500 text-white">Go back</a>
        </form>

    </div>
    
{% endblock %}