{% extends "core/base.html" %}


{% block title %} Leads {% endblock %}


{% block content %}
    <div class="py-4 px-10">
        <h1 class="mb-4 text-xl">Leads</h1>
        <a href="{% url 'leads:add' %}" class="mb-6 inline-block py-2 px-6 bg-indigo-500 rounded-lg text-white">Add Lead</a>

        <hr>
        {% if object_list %}
            <div class="mt-4 flex justify-between">
                    <p class="py-4 px-2 bg-gray-200 font-bold w-full">Name</p>
                    <p class="py-4 px-2 bg-gray-200 font-bold w-full">Priority</p>
                    <p class="py-4 px-2 bg-gray-200 font-bold w-full">Status</p>
            </div>
        
            {% for lead in object_list %}
                <div class="flex justify-between">
                    <h3 class="py-2 px-2 w-full bg-gray-100">
                    <a href="{% url "leads:detail" lead.id %}">{{ lead.name }}</a>
                    </h3>
                    <p class="py-2 px-2 w-full bg-gray-100">{{ lead.get_priority_display }}</p>
                    <p class="py-2 px-2 w-full bg-gray-100">{{ lead.get_status_display }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-1 py-2 px-2 text-red-500">There are no leads in the database yet...</p>
        {% endif %}
        
        <hr class="my-5">
        <a href = "{% url 'leads:export' %}" class="mr-5 py-2 px-5 rounded-lg bg-green-500 text-white"> Export Leads</a>
    </div>
    
{% endblock %}