{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'main.min.css' %}" rel="stylesheet">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% include "core/partials/nav.html" %}

    {% if messages %}
        <div class="mt-5 flex items-center justify-center">
            <div class="py-4 px-20 text-white bg-indigo-400 rounded-xl">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}



    {% block content %}
    {% endblock %}

    {% include "core/partials/footer.html" %}
</body>
</html>